<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>
</head>
<body>
    <form th:action="@{${x.au().addGrade()}}" th:object="${emptyGrade}" method="post">
        <label for="ordinal">Ordinal</label>
        <input type="number" id="ordinal" th:field="*{ordinal}">
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}">
        <input type="submit" value="Add">
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="grade : ${grades}">
                <td>
                    <span th:text="${grade.ordinal}"></span>
                    <span th:if="${grade.name != null}" th:text="| ${grade.name}|"></span>
                </td>
                <td>
                    <form>
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>