<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Term Details</title>
</head>
<body>
    <form th:if="${term != null}" th:object="${term}" th:action="@{${#httpServletRequest.requestURI}}" method="post">
        <fieldset>
            <legend th:text="Details"></legend>
            <label for="id">Id:</label>
            <span id="id" th:text="*{id}"></span>
            <label for="school-year">School year:</label>
            <span id="school-year" th:text="*{schoolYear.name()}"></span>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}">
            <label for="begin">Begins:</label>
            <input type="text" id="begin" th:field="*{begin}">
            <label for="end">Ends:</label>
            <input type="text" id="end" th:field="*{end}">
            <input type="submit" value="Update">
        </fieldset>
    </form>
</body>
</html>