body {
    background-color: lightgoldenrodyellow;
    color: darkgreen;
    font-family: sans-serif;
    margin: 0;
}
.header {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: lightgoldenrodyellow;
}
.content {
    background-color: beige;
    border-radius: 10px;
    border-color: yellowgreen;
    border-style: solid;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-top: 106px;
}
.icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: text-top;
}
.icon > svg {
    height: 16px;
    width: 16px;
    display: inline-block;
}
.top-menu {
    background-color: yellowgreen;
    color: darkolivegreen;/*lightgoldenrodyellow*/
    padding: 1rem;
}
.top-menu a {
    color: darkolivegreen;
    text-decoration: none;
    border-bottom: darkolivegreen dashed 1px;
}
.caps {
    text-transform: uppercase;
}
.menu a {
    color: darkolivegreen;
    text-decoration: none;
}
.menu-item {
    background-color: beige;
    border-radius: 10px;
    border-color: yellowgreen;
    border-style: solid;
    padding: 0.5rem;
    margin: 0.5rem;
    color: darkolivegreen;
    text-align: center;
}
.menu-item .icon > svg {
    fill: darkolivegreen;
}
.content a {
    color: darkgreen;
    text-decoration: none;
    border-bottom: darkgreen dashed 1px;
}
.list, .listwh /*list with a header*/ {
    list-style: none;
    padding: 0;
    text-align: center;
}
.list > li, .listwh > li {
    margin-top: 0.5em;
}
.list > li:first-child, .listwh > li.list-header {
    font-weight: bold;
    border-bottom: yellowgreen solid 2px;
    padding-bottom: 0.5em;
}
.list:not(:last-of-type), .listwh:not(:last-of-type) {
    border-bottom: yellowgreen solid 2px;
    padding-bottom: 0.5em;
    margin-bottom: 2em;
}
.sequence {
    list-style: none;
    padding: 0;
    margin: 0 0 5px 0;
}
.sequence > li {
    display: inline;
}
.sequence > li:not(:last-of-type):after {
    content: ',';
}
select.being-late {
    background-color: yellow;
}
select.absent {
    background-color: orangered;
}
