<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layout.html}">
<head>
    <title>Course</title>
</head>
<body>
    <div data-layout-fragment="content">
        <h3 class="center" data-th-text="|${course.subject.name.value} ${course.schoolClass.getFullName()} #{class}|"></h3>
        <ul>
            <li class="flex flex-wrap">
                <div class="col col-1" data-th-text="'Number'"></div>
                <div class="col col-3" data-th-text="'Name'"></div>
                <div class="col col-2" data-th-text="${x.c('student.marks')}"></div>
                <div class="col col-2" data-th-text="'Average mark (total marks)'"></div>
                <div class="col col-2" data-th-text="${x.c('student.notes')}"></div>
                <div class="col col-2" data-th-text="'Presence'"></div>
            </li>
            <li class="flex flex-wrap" data-th-each="courseStudent:${courseStudents}">
                <div class="col col-1" data-th-text="${courseStudent.number}"></div>
                <div class="col col-3">
                    <a data-th-href="${x.u().students().student(courseStudent.student, course)}"
                       data-th-text="${courseStudent.name}"></a>
                </div>
                <div class="col col-2">
                    <span data-th-each="mark:${courseStudent.marks}">
                        <span data-th-text="${@scoreFormatter.format(mark.score)}" data-th-title="${mark.createdOn}"></span>
                        <span>, </span>
                    </span>
                    <a class="addMark" href="#" data-th-attr="data-object-id = ${courseStudent.id}">+</a>
                    <form data-th-action="${x.u().courses().course(course)}" method="post"
                          data-th-attr="id = 'mark-form-' + ${courseStudent.id}"
                          class="display-none" tabindex="0">
                        <input type="reset" data-th-value="'X'">
                        <input type="text" name="markScore">
                        <input type="hidden" name="studentId" data-th-value="${courseStudent.id}">
                        <input type="submit" data-th-value="'+'">
                    </form>
                </div>
                <div class="col col-2" data-th-text="|${courseStudent.averageMark != null ? @scoreFormatter.format(courseStudent.averageMark) : '-'} (${courseStudent.marks.size()})|"></div>
                <div class="col col-2">
                    <a class="addNote" data-th-href="${x.u().notes().addNote(courseStudent.student, course, lesson)}">+</a>
                    <a data-th-href="${x.u().notes().notes(courseStudent.student, courseStudent.course)}"
                       data-th-text="|View (${courseStudent.notes.size()})|"></a>
                </div>
                <div class="col col-2">
                    <form data-th-if="${lesson != null}" data-th-action="${x.u().lessons().setPresence()}" method="post">
                        <input type="hidden" name="lessonId" data-th-value="${lesson.id}">
                        <input type="hidden" name="studentId" data-th-value="${courseStudent.id}">
                        <select name="value" onchange="this.form.submit()"
                                data-th-class="${courseStudent.absence == 0.5 ? 'being-late' : courseStudent.absence == 1 ? 'absent' : ''}">
                            <option data-th-value="0" data-th-selected="${courseStudent.absence == 0}"
                                    data-th-text="Present"></option>
                            <option data-th-value="0.5" data-th-selected="${courseStudent.absence == 0.5}"
                                    data-th-text="'Being late'"></option>
                            <option data-th-value="1" data-th-selected="${courseStudent.absence == 1}"
                                    data-th-text="Absent"></option>
                        </select>
                    </form>
                    <span data-th-text="|(${courseStudent.absences})|"></span>
                </div>
            </li>
        </ul>
        <div data-th-replace="~{fragments/modal-dialog::dialog('modalDialog')}"></div>
        <script type="module" data-th-inline="javascript">
import { Fragment } from [[@{/js/fragment.js}]];
import Dialog from [[@{/js/modal-dialog.js}]];

let dialog = new Dialog('modalDialog');
let lastFocusedForm = null;
let addMarkButtons = document.querySelectorAll('.addMark');
for (let addMarkButton of addMarkButtons) {
    addMarkButton.addEventListener('click', addMarkClicked, false);
}
let resetButtons = document.querySelectorAll('input[type=reset]');
for (let resetButton of resetButtons) {
    resetButton.addEventListener('click', hideLastFocusedForm, false);
}
function addMarkClicked(e) {
    hideLastFocusedForm();
    let objectId = e.target.getAttribute('data-object-id');
    let form = document.getElementById('mark-form-' + objectId);
    form.classList.toggle('display-none');
    let input = form.querySelector('input[type=text]');
    input.focus();
    lastFocusedForm = form;
    e.preventDefault();
}
function hideLastFocusedForm() {
    if (lastFocusedForm != null) {
        hideForm(lastFocusedForm);
        lastFocusedForm = null;
    }
}
function hideForm(form) {
    form.classList.toggle('display-none', true);
}
        </script>
    </div>
</body>
</html>