<!DOCTYPE html>
<html lang="en" data-layout-decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${x.c('student.editNote')}"></title>
</head>
<body>
    <div data-layout-fragment="content">
        <form data-th-object="${note}" data-th-action="${x.u().notes().editNote(note)}" method="post">
            <textarea data-th-field="*{text}"></textarea>
            <input type="submit" data-th-value="${x.c('common.save')}">
            <a data-th-href="${x.u().notes().notes(note.student, note.course, note.lesson)}"
               data-th-text="${x.c('common.cancel')}"></a>
        </form>
    </div>
</body>
</html>