<!DOCTYPE html>
<html lang="en" data-layout-decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Lessons</title>
</head>
<body>
    <div data-layout-fragment="content">
        <div>
            <a data-th-href="${x.u().lessons().lessonsPerWeek(previousWeek)}" data-th-text="'Previous week'"></a>
            <a data-th-href="${x.u().lessons().lessons()}" data-th-text="'Current week'"></a>
            <a data-th-href="${x.u().lessons().lessonsPerWeek(nextWeek)}" data-th-text="'Next week'"></a>
        </div>
        <div data-th-replace="~{fragments/teacher-lesson-list::weeklyLessons(${weeklyLessons})}"></div>
    </div>
</body>
</html>