<!DOCTYPE html>
<html lang="en" data-layout-decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
<body>
    <div data-layout-fragment="content">
        <h4 class="center">
            <span data-th-text="|Notes of ${student.user.personalInfo.getName()} for ${course.subject.name.value}|"></span>
            <span data-th-if="${lesson != null}" data-th-text="| in lesson from ${lesson.begin}|"></span>
        </h4>
        <a data-th-href="${x.u().notes().addNote(student, course, lesson)}" data-th-text="Add"></a>
        <ul class="list">
            <li class="flex flex-wrap">
                <div class="col col-2" data-th-text="'Added on'"></div>
                <div class="col col-8" data-th-text="'Content'"></div>
                <div class="col col-1" data-th-text="'Edit'"></div>
                <div class="col col-1" data-th-text="'Remove'"></div>
            </li>
            <li class="flex flex-wrap" data-th-each="note : ${notes}">
                <div class="col col-2" data-th-text="${#dates.format(note.createdOn, 'dd.MM.yyyy HH:mm')}"></div>
                <div class="col col-8" data-th-text="${note.text}"></div>
                <div class="col col-1">
                    <a data-th-href="${x.u().notes().editNote(note)}" data-th-text="'Edit'"></a>
                </div>
                <div class="col col-1">
                    <form data-th-action="${x.u().notes().removeNote(note)}" method="post">
                        <input type="submit" data-th-value="'Remove'">
                    </form>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>