<!DOCTYPE html>
<html lang="en" data-layout-decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${x.c('user.profile')}"></title>
</head>
<body>
    <div data-layout-fragment="content">
        <div class="pt4">
            <div data-th-replace="~{fragments/profile-picture::profilePicture(
            imageSrc=@{${x.u().blobs().profilePicture(user)}},
            imageSize=128,id='profilePicture')}">
            </div>
            <script>
window.onProfilePictureUpdated = function (newSrc) {
    let profilePicture = document.getElementById('profilePicture');
    profilePicture.src = newSrc;
};
            </script>
        </div>
        <div data-th-insert="~{fragments/file-upload(id='profilePicture',
            target=@{${x.u().blobs().uploadProfilePicture(user)}},
            accept='image/png, image/jpeg',
            onSuccess='onProfilePictureUpdated')}"></div>
        <div class="flex flex-wrap" data-th-object="${user}">
            <div class="col col-4">
                <label class="label" for="username" data-th-text="${x.c('user.username')}"></label>
            </div>
            <div class="col col-8">
                <span id="username" data-th-text="*{username}"></span>
            </div>
            <div class="col-12">
                <a data-th-href="@{/en/change-password}" data-th-text="${x.c('user.changePassword')}"></a>
            </div>
            <div class="col col-4">
                <label class="label" for="role" data-th-text="${x.c('user.role')}"></label>
            </div>
            <div class="col col-8">
                <span id="role" data-th-text="${x.c('user.role.' + user.role.name().toLowerCase())}"></span>
            </div>
            <div class="col col-4">
                <label class="label" for="email" data-th-text="${x.c('user.email')}"></label>
            </div>
            <div class="col col-8">
                <span id="email" data-th-text="*{email}"></span>
            </div>
            <div class="col col-4">
                <label class="label" for="firstName" data-th-text="${x.c('user.firstName')}"></label>
            </div>
            <div class="col col-8">
                <span id="firstName" data-th-text="*{personalInfo.firstName}"></span>
            </div>
            <div class="col col-4">
                <label class="label" for="middleName" data-th-text="${x.c('user.middleName')}"></label>
            </div>
            <div class="col col-8">
                <span id="middleName" data-th-text="*{personalInfo.middleName}"></span>
            </div>
            <div class="col col-4">
                <label class="label" for="lastName" data-th-text="${x.c('user.lastName')}"></label>
            </div>
            <div class="col col-8">
                <span id="lastName" data-th-text="*{personalInfo.lastName}"></span>
            </div>
            <div class="col col-4">
                <label class="label" for="gender" data-th-text="${x.c('user.gender')}"></label>
            </div>
            <div class="col col-8">
                <span id="gender" data-th-text="${x.c('user.gender.' + user.personalInfo.gender.name().toLowerCase())}"></span>
            </div>
            <div class="col col-4">
                <label class="label" for="bornAt" data-th-text="${x.c('user.bornAt')}"></label>
            </div>
            <div class="col col-8">
                <span id="bornAt" data-th-text="*{personalInfo.bornAt}"></span>
            </div>
            <div class="col col-4">
                <label class="label" for="address" data-th-text="${x.c('user.address')}"></label>
            </div>
            <div class="col col-8">
                <span id="address" data-th-text="*{personalInfo.address}"></span>
            </div>
        </div>
    </div>
</body>
</html>