<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${x.c('signIn')}"></title>
</head>
<body>
    <p>
        If not registered then <a th:href="@{/sign-up}">sign up</a>.
    </p>
    <h3>Sign in</h3>
    <h4>As a specific user</h4>
    <form th:action="@{/sign-in(requested=${requested})}" method="post">
        <p th:if="${error != null}" th:text="${error}"></p>
        <p th:if="${logout != null}" th:text="${logout}"></p>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
        </p>
        <input type="submit" value="Sign in">
    </form>
    <h4>Or as a user with role</h4>
    <form th:action="@{${x.u().signInRole()}(requested=${requested})}" method="post">
        <select name="role">
            <option value="student">student</option>
            <option value="teacher">teacher</option>
            <option value="principal">principal</option>
        </select>
        <input type="submit" value="Sign in">
    </form>
</body>
</html>