<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${x.c('signIn')}"></title>
    <link data-th-replace="~{fragments/header :: headResources}">
</head>
<body>
    <p>
        If not registered then <a data-th-href="@{/sign-up}">sign up</a>.
    </p>
    <h3>Sign in</h3>
    <h4>As a specific user</h4>
    <form data-th-action="@{/sign-in(requested=${requested})}" method="post">
        <p data-th-if="${error != null}" data-th-text="${error}"></p>
        <p data-th-if="${logout != null}" data-th-text="${logout}"></p>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
        </p>
        <input type="submit" value="Sign in">
    </form>
    <h4>Or sign in as a user with role</h4>
    <div class="flex flex-wrap">
        <form class="col-1" data-th-action="@{${x.u().signInRole()}(requested=${requested})}" method="post">
            <input type="hidden" name="role" value="student">
            <input type="submit" value="Student">
        </form>
        <form class="col-1" data-th-action="@{${x.u().signInRole()}(requested=${requested})}" method="post">
            <input type="hidden" name="role" value="teacher">
            <input type="submit" value="Teacher">
        </form>
        <form class="col-1" data-th-action="@{${x.u().signInRole()}(requested=${requested})}" method="post">
            <input type="hidden" name="role" value="principal">
            <input type="submit" value="Principal">
        </form>
    </div>
</body>
</html>