<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
    <form action="#" data-th-action="@{/sign-up}" data-th-object="${signUpForm}" method="post">
        <p>
            <label for="role">You are a</label>
            <select class="select" id="role" data-th-field="*{role}">
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>
        </p>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" data-th-field="*{username}"/>
            <span data-th-if="${#fields.hasErrors('username')}" data-th-each="error : ${#fields.detailedErrors('username')}">
                <span data-th-text="${error.message}"></span>
            </span>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" data-th-field="*{password}"/>
            <span data-th-if="${#fields.hasErrors('password')}" data-th-each="error : ${#fields.detailedErrors('password')}">
                <span data-th-text="${error.message}"></span>
            </span>
        </p>
        <p>
            <label for="confirmPassword">Confirm password</label>
            <input type="password" id="confirmPassword" data-th-field="*{confirmPassword}"/>
            <span data-th-if="${#fields.hasErrors('confirmPassword')}" data-th-each="error : ${#fields.detailedErrors('confirmPassword')}">
                <span data-th-text="${error.message}"></span>
            </span>
        </p>
        <p>
            <label for="email">Email</label>
            <input type="text" id="email" data-th-field="*{email}"/>
            <span data-th-if="${#fields.hasErrors('email')}" data-th-each="error : ${#fields.detailedErrors('email')}">
                <span data-th-text="${error.message}"></span>
            </span>
        </p>
        <p data-th-if="*{error != null}" data-th-text="*{error}"></p>
        <button type="submit">Sign up</button>
    </form>
</body>
</html>