<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
    <form action="#" th:action="@{/sign-up}" th:object="${signUpForm}" method="post">
        <p>
            <label for="role">You are a</label>
            <select class="select" id="role" th:field="*{role}">
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>
        </p>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" th:field="*{username}"/>
            <span th:if="${#fields.hasErrors('username')}" th:each="error : ${#fields.detailedErrors('username')}">
                <span th:text="${error.message}"></span>
            </span>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}"/>
            <span th:if="${#fields.hasErrors('password')}" th:each="error : ${#fields.detailedErrors('password')}">
                <span th:text="${error.message}"></span>
            </span>
        </p>
        <p>
            <label for="confirmPassword">Confirm password</label>
            <input type="password" id="confirmPassword" th:field="*{confirmPassword}"/>
            <span th:if="${#fields.hasErrors('confirmPassword')}" th:each="error : ${#fields.detailedErrors('confirmPassword')}">
                <span th:text="${error.message}"></span>
            </span>
        </p>
        <p>
            <label for="email">Email</label>
            <input type="text" id="email" th:field="*{email}"/>
            <span th:if="${#fields.hasErrors('email')}" th:each="error : ${#fields.detailedErrors('email')}">
                <span th:text="${error.message}"></span>
            </span>
        </p>
        <p th:if="*{error != null}" th:text="*{error}"></p>
        <button type="submit">Sign up</button>
    </form>
</body>
</html>