<!DOCTYPE html>
<html lang="en" data-layout-decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div data-layout-fragment="content">
        <table>
            <thead>
                <tr>
                    <th>Lesson (hour)</th>
                    <th>Subject</th>
                    <th>Teacher</th>
                    <th>Room</th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="lesson : ${lessons}">
                    <td data-th-text="|${lesson.weeklySlot.ordinal} (${lesson.weeklySlot.begin})|"></td>
                    <td data-th-text="${lesson.subject.name}"></td>
                    <td data-th-text="${lesson.teacher.personalInfo.getName()}"></td>
                    <td data-th-text="${lesson.room.name}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>