<!DOCTYPE html>
<html lang="en" data-layout-decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${x.c('home.home')}"></title>
</head>
<body>
    <div data-layout-fragment="content">
        <h3 data-th-text="${x.c('class.lessonsTodayDate', currentDate)}"></h3>
        <div data-th-if="${currentLessons.size() > 0}">
            <h4 data-th-text="${x.c('class.currentLesson')}"></h4>
            <div data-th-insert="~{teacher/fragments/lesson-list::lessonList(${currentLessons})}"></div>
            <form data-th-action="${x.tu().lessons().startLesson()}" method="post" data-th-object="${currentLesson}">
                <input type="hidden" data-th-field="*{course}">
                <input type="hidden" data-th-field="*{weeklySlot}">
                <input type="submit" data-th-value="${x.c('class.startLesson')}">
            </form>
        </div>
        <div data-th-if="${currentLessons.size() == 0}">
            <h4 data-th-text="${x.c('class.noCurrentLesson')}"></h4>
        </div>
        <div>
            <h4 data-th-text="${x.c('class.nextLessons')}"></h4>
            <div data-th-insert="~{teacher/fragments/lesson-list::lessonList(${nextLessons})}"></div>
        </div>
        <div>
            <h4 data-th-text="${x.c('class.previousLessons')}"></h4>
            <div data-th-insert="~{teacher/fragments/lesson-list::lessonList(${previousLessons})}"></div>
        </div>
    </div>
</body>
</html>