<!DOCTYPE html>
<html lang="en" data-layout-decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${x.c('class.editTerm')}"></title>
</head>
<body>
    <div data-layout-fragment="content">
        <form data-th-if="${term != null}"
              data-th-action="${x.pu().term(term)}" method="post">
            <fieldset data-th-object="${term}">
                <legend data-th-text="${x.c('common.details')}"></legend>
                <label class="label" for="school-year" data-th-text="${x.c('class.schoolYear')}"></label>
                <span id="school-year" data-th-text="*{schoolYear.name()}"></span>
                <label class="label" for="name" data-th-text="${x.c('common.name')}"></label>
                <input class="input" type="text" id="name" data-th-field="*{name}">
                <label class="label" for="begin" data-th-text="${x.c('class.begins')}"></label>
                <input class="input" type="text" id="begin" data-th-field="*{begin}">
                <label class="label" for="end" data-th-text="${x.c('class.ends')}"></label>
                <input class="input" type="text" id="end" data-th-field="*{end}">
                <input class="btn btn-primary bg-olive" type="submit" data-th-value="${x.c('common.save')}">
            </fieldset>
        </form>
    </div>
</body>
</html>