<!DOCTYPE html>
<html lang="en" data-layout-decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${x.c('user.users')}"></title>
</head>
<body>
    <div data-layout-fragment="content">
        <a data-th-href="${x.pu().addUser()}" data-th-text="${x.c('user.addUser')}"></a>
        <ul class="list">
            <li class="flex">
                <div class="col col-8" data-th-text="${x.c('user.username')}"></div>
                <div class="col col-4" data-th-text="${x.c('user.role')}"></div>
            </li>
            <li class="flex" data-th-each="user : ${users}">
                <div class="col col-8">
                    <a data-th-href="${x.pu().user(user)}"
                       data-th-text="${user.username}"></a>
                </div>
                <div class="col col-4" data-th-text="${user.role}"></div>
            </li>
        </ul>
    </div>
</body>
</html>