<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Marks this term</title>
</head>
<body>
    <p th:text="'Total: ' + ${marks.size()}  + 'mark(s):'"></p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="mark: ${marks}">
                <td th:text="${mark.student.user.personalInfo.firstName}"></td>
                <td th:text="${mark.score}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>