<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File upload</title>
</head>
<body>
    <div data-th-fragment="fileUpload (id, target, accept, onSuccess)">
        <form data-th-id="|${id}-form|" data-th-action="${target}" method="post" enctype="multipart/form-data">
            <input type="file" id="file" name="file" data-th-accept="${accept}">
            <input type="submit" data-th-value="${x.c('user.upload')}">
        </form>
        <div data-th-id="|${id}-output|"></div>
        <script data-th-inline="javascript">
{
    let form = document.getElementById([[${id}]] + '-form');
    form.addEventListener('submit', function(e) {
        let output = document.getElementById([[${id}]] + '-output');
        let data = new FormData(form);
        let request = new XMLHttpRequest();
        request.open('POST', [[${target}]], true);
        request.onload = function(oEvent) {
            if (request.status == 200) {
                let response = JSON.parse(request.response);
                output.innerHTML = response.message;
                window[ [[${onSuccess}]] ](response.path);
            } else {
                output.innerHTML = 'Error!';
            }
        };
        request.send(data);
        e.preventDefault();
    }, false);
}
        </script>
    </div>
</body>
</html>