<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <div th:fragment="headResources" th:remove="tag">
        <link th:href="@{/css/basscss.min.css}" rel="stylesheet">
    </div>
    <div th:fragment="header (activeUser)">
        <span th:text="#{greetingMessageBegin}"></span>
        <span th:if="${activeUser.isAnonymous()}" th:text="${activeUser.username}"></span>
        <a th:if="${!activeUser.isAnonymous()}" th:href="@{${x.u().profile()}}" th:text="${activeUser.username}"></a>
        <span th:text="#{greetingMessageEnd}"></span>
        <span th:if="${activeUser.isAnonymous()}">
            <a th:href="@{${x.u().signIn()}}" th:text="${x.c('signIn')}">Sign in</a>
            <span th:text="#{or}">or</span>
            <a th:href="@{${x.u().signUp()}}" th:text="${x.c('signUp')}">Sign up</a>
        </span>
        <span th:if="${!activeUser.isAnonymous()}">
            <a href="/sign-out" th:text="${x.c('signOut')}">Sign out</a>
        </span>
    </div>
</body>
</html>