<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <div data-th-fragment="headResources" data-th-remove="tag">
        <link data-th-href="@{/css/basscss.min.css}" rel="stylesheet">
        <link data-th-href="@{/css/micromodal.css}" rel="stylesheet">
    </div>
    <div data-th-fragment="greetings(activeUser)">
        <span data-th-text="#{greetingMessageBegin}"></span>
        <span data-th-if="${activeUser.isAnonymous()}" data-th-text="${activeUser.username}"></span>
        <a data-th-if="${!activeUser.isAnonymous()}" data-th-href="@{${x.u().profile()}}" data-th-text="${activeUser.username}"></a>
        <span data-th-text="#{greetingMessageEnd}"></span>
        <span data-th-if="${activeUser.isAnonymous()}">
            <a data-th-href="@{${x.u().signIn()}}" data-th-text="${x.c('signIn')}">Sign in</a>
            <span data-th-text="#{or}">or</span>
            <a data-th-href="@{${x.u().signUp()}}" data-th-text="${x.c('signUp')}">Sign up</a>
        </span>
        <span data-th-if="${!activeUser.isAnonymous()}">
            <a data-th-href="${x.u().signOut()}" data-th-text="${x.c('signOut')}">Sign out</a>
        </span>
    </div>
    <div data-th-fragment="menu(activeUser)">
        <div data-th-if="${activeUser.role == T(emsbj.user.User.Role).student}">Student</div>
        <div data-th-if="${activeUser.role == T(emsbj.user.User.Role).teacher}">Teacher</div>
    </div>
    <div data-th-fragment="header(activeUser)">
        <div data-th-replace="::greetings(${activeUser})"></div>
        <div data-th-replace="::menu(${activeUser})"></div>
    </div>
</body>
</html>