<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <div data-th-fragment="headResources" data-th-remove="tag">
        <link data-th-href="@{/css/basscss.min.css}" rel="stylesheet">
        <link data-th-href="@{/css/micromodal.css}" rel="stylesheet">
        <link data-th-href="@{/css/site-style.css}" rel="stylesheet">
    </div>
    <div data-th-fragment="greetings(activeUser)">
        <span data-th-text="#{greetingMessageBegin}"></span>
        <span data-th-if="${activeUser.isAnonymous()}" data-th-text="#{guestName}"></span>
        <a data-th-if="${!activeUser.isAnonymous()}" data-th-href="@{${x.u().profile()}}" data-th-text="${activeUser.username}"></a>
        <span data-th-text="#{greetingMessageEnd}"></span>
        <span data-th-if="${activeUser.isAnonymous()}">
            <a data-th-href="@{${x.u().signIn()}}" data-th-text="${x.c('signIn')}">Sign in</a>
            <span data-th-text="#{or}">or</span>
            <a data-th-href="@{${x.u().signUp()}}" data-th-text="${x.c('signUp')}">Sign up</a>
        </span>
        <span data-th-if="${!activeUser.isAnonymous()}">
            <a data-th-href="${x.u().signOut()}" data-th-text="${x.c('signOut')}">Sign out</a>
        </span>
    </div>
    <div data-th-fragment="menu(activeUser)">
        <div data-th-if="${activeUser.role == T(emsbj.user.User.Role).student}">Student</div>
        <div data-th-if="${activeUser.role == T(emsbj.user.User.Role).teacher}" class="flex">
            <a class="col col-3 menu-item" data-th-href="@{${x.u().home()}}">
                <img class="icon" data-th-src="@{/img/icons/octicons/home.svg}">
                <span data-th-text="${x.c('home')}"></span>
            </a>
            <a class="col col-3 menu-item" data-th-href="@{${x.u().schedule()}}">
                <div class="icon" data-th-insert="~{fragments/icons::octicons-calendar}"></div>
                <span data-th-text="${x.c('schedule')}"></span>
            </a>
            <a class="col col-3 menu-item" data-th-href="@{${x.u().lessons()}}">
                <div class="icon" data-th-insert="~{fragments/icons::octicons-book}"></div>
                <span data-th-text="${x.c('lessons')}"></span>
            </a>
            <a class="col col-3 menu-item" data-th-href="@{${x.u().profile()}}">
                <div class="icon" data-th-insert="~{fragments/icons::material-design-icons-human-male-female}"></div>
                <span data-th-text="${x.c('students')}"></span>
            </a>
        </div>
    </div>
    <div data-th-fragment="languageSelector">
        <span data-th-each="locale : ${x.getSupportedLocales()}">
            <a data-th-unless="${locale.equals(x.getLocale())}"
               data-th-href="${x.localizeCurrentRequestURL(locale)}"
               data-th-text="${locale.getDisplayName(locale)}"></a>
            <span data-th-if="${locale.equals(x.getLocale())}" data-th-text="${locale.getDisplayName(locale)}"></span>
        </span>
    </div>
    <div data-th-fragment="header(activeUser)" class="header">
        <div class="top-menu flex">
            <div class="col col-4 left-align" data-th-insert="::languageSelector"></div>
            <div class="col col-4 center">
                <div class="caps" data-th-text="#{journal}"></div>
            </div>
            <div class="col col-4 right-align" data-th-insert="::greetings(${activeUser})"></div>
        </div>
        <div class="menu" data-th-insert="::menu(${activeUser})"></div>
    </div>
</body>
</html>