<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Fragments</title>
</head>
<body>
    <div data-th-fragment="listHeader(mode)" data-th-remove="tag">
        <div data-th-if="${mode == 'details'}" class="col col-1" data-th-text="${x.c('common.details')}"></div>
        <div data-th-if="${mode == 'singleSelect'}" class="col col-1" data-th-text="${x.c('common.select')}"></div>
        <div data-th-if="${mode == 'multiSelect'}" class="col col-1">
            <input class="multiSelect" type="button" data-th-value="${x.c('common.select')}">
        </div>
    </div>
    <div data-th-fragment="listBody(mode, detailsUrl, objectId)" data-th-remove="tag">
        <div data-th-if="${mode == 'details'}" class="col col-1">
            <a data-th-href="${detailsUrl}" target="_blank" data-th-text="${x.c('common.details')}"></a>
        </div>
        <div data-th-if="${mode != 'details'}" class="col col-1">
            <input data-th-if="${mode == 'multiSelect'}" type="checkbox" data-th-value="${objectId}">
            <input data-th-if="${mode == 'singleSelect'}" type="button"
                   data-th-value="${x.c('common.select')}" data-th-attr="data-object-id=${objectId}">
        </div>
    </div>
</body>
</html>