<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher list</title>
    <link data-th-replace="~{fragments/header :: headResources}">
</head>
<body>
    <div data-th-fragment="teacherList(id, teachers, mode)" data-th-remove="tag">
        <ul data-th-id="${id}">
            <li>
                <div class="lg-flex flex-wrap">
                    <div data-th-replace="~{fragments/list-fragments::listHeader(${mode})}"></div>
                    <div class="col col-3" data-th-text="'Picture'"></div>
                    <div class="col col-3" data-th-text="'Name'"></div>
                    <div class="col col-3" data-th-text="'Teaches'"></div>
                    <div class="col col-2" data-th-text="'Form-master of'"></div>
                </div>
            </li>
            <li data-th-each="teacher : ${teachers}">
                <div class="lg-flex flex-wrap">
                    <div data-th-replace="~{fragments/list-fragments::listBody(mode=${mode},detailsUrl=${x.au().teacher(teacher)},objectId=${teacher.id})}">
                    </div>
                    <div class="col col-3" data-th-insert="~{fragments/profile-picture::profilePicture(@{${x.u().profilePicture(teacher.user)}})}">
                    </div>
                    <div class="col col-3">
                        <span data-th-text="${teacher.user.personalInfo.getName()}"></span>
                    </div>
                    <div class="col col-3">
                        <span data-th-each="skill: ${teacher.skills}" data-th-text="${skill.name.value}"></span>
                    </div>
                    <div class="col col-2">
                        <span data-th-each="schoolClass: ${teacher.formMasterOf}"
                              data-th-text="${schoolClass.getGrade().name} + ' ' + ${schoolClass.name}"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>