<!DOCTYPE html>
<html lang="en" data-layout-decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${x.c('course.courses')}"></title>
</head>
<body>
    <div data-layout-fragment="content">
        <ul class="list">
            <li class="flex">
                <div class="col col-8" data-th-text="${x.c('course.subject')}"></div>
                <div class="col col-4" data-th-text="${x.c('class.class')}"></div>
            </li>
            <li class="flex" data-th-each="course : ${courses}">
                <div class="col col-8" data-th-text="${course.subject.name.value}"></div>
                <div class="col col-4" data-th-text="${course.schoolClass.getFullName()}"></div>
            </li>
        </ul>
    </div>
</body>
</html>