<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administration Home</title>
</head>
<body>
    <p>
        <a th:href="@{/admin/users}" th:text="'View all users'"></a>
    </p>
    <p>
        <a th:href="@{/admin/school-years}" th:text="'View school years'"></a>
    </p>
    <p>
        <a th:href="@{/admin/subjects}" th:text="'View subjects'"></a>
    </p>
    <p>
        <a th:href="@{${x.au().grades()}}" th:text="'View available grades'"></a>
    </p>
    <p>
        <a th:href="@{${x.au().schoolClasses()}}" th:text="'View available classes'"></a>
    </p>
    <p>
        <a th:href="@{${x.au().teachers()}}" th:text="'View teachers'"></a>
    </p>
    <p>
        <a th:href="@{${x.au().students()}}" th:text="'View students'"></a>
    </p>
    <p>
        <a th:href="@{/admin/schedule/weekly-slots}" th:text="'View weekly slots'"></a>
    </p>
</body>
</html>