<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>School Years</title>
</head>
<body>
    <p>
        <a th:href="@{${x.au().adminIndex()}}">Back to administration home</a>
    </p>
    <form th:action="@{${x.au().addSchoolYear()}}" method="post">
        <input type="submit" value="Add school year">
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Terms</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="schoolYear : ${schoolYears}">
                <td th:text="${schoolYear.name()}"></td>
                <td>
                    <a th:href="@{${x.au().termsBySchoolYear(schoolYear.id)}}">Terms</a>
                    <a th:each="term : ${schoolYear.terms}"
                       th:href="@{${x.au().term(term)}}"
                       th:text="'Term ' + ${term.name}"></a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>