<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${schoolClass.isNew() ? 'Adding Class' : 'Editing Class'}"></title>
    <link data-th-replace="~{fragments/header :: headResources}">
</head>
<body>
    <form data-th-action="${schoolClass.isNew() ? x.au().addSchoolClass() : x.au().schoolClass(schoolClass)}" method="post">
        <fieldset data-th-object="${schoolClass}">
            <legend data-th-text="${schoolClass.isNew() ? 'Add' : 'Edit'}"></legend>
            <label for="name" data-th-text="'Name'"></label>
            <input type="text" id="name" data-th-field="*{name}">
            <label for="beginningSchoolYear" data-th-text="'Beginning school year'"></label>
            <select id="beginningSchoolYear" data-th-field="*{beginningSchoolYear}">
                <option data-th-each="schoolYear : ${schoolYears}"
                        data-th-value="${schoolYear.id}" data-th-text="${schoolYear.name()}"></option>
            </select>
            <label for="beginningGrade" data-th-text="'Beginning grade'"></label>
            <select id="beginningGrade" data-th-field="*{beginningGrade}">
                <option data-th-each="grade : ${grades}"
                        data-th-value="${grade.id}" data-th-text="${grade.name}"></option>
            </select>
            <label for="formMaster" data-th-text="'Form-master'"></label>
            <input type="text" id="formMaster" class="display-none" data-th-field="*{formMaster}">
            <div id="formMasterContainer"></div>
            <input type="hidden" id="formMasterId"
                   data-th-value="${schoolClass.formMaster!=null?schoolClass.formMaster.id:''}">
            <input type="button" id="changeFormMaster" data-th-value="'Select'">
            <label for="classRoom" data-th-text="'Class room'"></label>
            <select id="classRoom" data-th-field="*{classRoom}">
                <option data-th-each="room : ${rooms}"
                        data-th-value="${room.id}" data-th-text="${room.floor + ' ' + room.name}"></option>
            </select>
            <label data-th-text="'Students'"></label>
            <input type="button" id="selectStudents" data-th-value="'Select students'">
            <div id="studentsContainer"></div>
            <input type="text" id="students" class="display-none" data-th-field="*{students}">
        </fieldset>
        <input type="submit" value="Save">
    </form>
    <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <header class="modal__header">
                    <h2 class="modal__title" id="modal-1-title">
                        Micromodal
                    </h2>
                    <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                </header>
                <main class="modal__content" id="modal-1-content">
                    <p id="modalBodyContainer"></p>
                </main>
                <footer class="modal__footer">
                    <button class="modal__btn modal__btn-primary">Continue</button>
                    <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
                </footer>
            </div>
        </div>
    </div>
    <button type="button" id="openDialog">Open dialog</button>
    <script type="module" data-th-inline="javascript">
import { Fragment, ListFragment } from [[@{/js/fragment.js}]];
import MicroModal from [[@{/js/micromodal.js}]];
MicroModal.init();

let formMaster = new Fragment('formMasterContainer',
    [[${x.au().teacherList()}]], {
        id: 'formMaster',
        mode: 'details',
        teacherIds() {
            return [document.getElementById('formMasterId').value];
        }
    });
formMaster.load();
let selectFormMaster = new ListFragment(
    'singleSelect', function(teacherId) {
        MicroModal.close('modal-1');
        document.getElementById('formMaster').value = teacherId;
        document.getElementById('formMasterId').value = teacherId;
        formMaster.load();
    },
    'modalBodyContainer', [[${x.au().selectFormMasterFragment()}]], {
        id: 'teacherList',
        mode: 'singleSelect'
    });
let changeFormMasterButton = document.getElementById('changeFormMaster');
changeFormMasterButton.addEventListener('click', function (e) {
    selectFormMaster.load();
    MicroModal.show('modal-1');
    e.preventDefault();
}, false);

let students = new Fragment('studentsContainer',
    [[${x.au().studentList()}]], {
        id: 'studentDetails',
        mode: 'details',
        studentIds() {
            return document.getElementById('students').value.split(',');
        }
    });
students.load();
let selectStudents = new ListFragment(
    'multiSelect', function(studentIds) {
        MicroModal.close('modal-1');
        document.getElementById('students').value = studentIds.join(',');
        students.load();
    },
    'modalBodyContainer', [[${x.au().studentList()}]], {
        id: 'studentList',
        mode: 'multiSelect'
    });
let selectStudentsButton = document.getElementById('selectStudents');
selectStudentsButton.addEventListener('click', function (e) {
    selectStudents.load();
    MicroModal.show('modal-1');
    e.preventDefault();
}, false);
    </script>
</body>
</html>