<!DOCTYPE html>
<html lang="en" data-layout-decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${x.c('class.classes')}"></title>
</head>
<body>
    <div data-layout-fragment="content">
        <a data-th-href="${x.au().addSchoolClass()}" data-th-text="${x.c('class.addClass')}"></a>
        <ul class="list">
            <li class="flex flex-wrap">
                <div class="col col-2" data-th-text="${x.c('class.beginningSchoolYear')}"></div>
                <div class="col col-2" data-th-text="${x.c('class.grade')}"></div>
                <div class="col col-2" data-th-text="${x.c('common.name')}"></div>
                <div class="col col-2" data-th-text="${x.c('class.formMaster')}"></div>
                <div class="col col-2" data-th-text="${x.c('class.room')}"></div>
                <div class="col col-1" data-th-text="${x.c('common.details')}"></div>
                <div class="col col-1" data-th-text="${x.c('class.schedule')}"></div>
            </li>
            <li class="flex flex-wrap" data-th-each="schoolClass : ${schoolClasses}">
                <div class="col col-2" data-th-text="${schoolClass.beginningSchoolYear.beginYear}"></div>
                <div class="col col-2" data-th-text="${schoolClass.getGrade().name}"></div>
                <div class="col col-2" data-th-text="${schoolClass.name}"></div>
                <div class="col col-2">
                    <span data-th-if="${schoolClass.formMaster != null}"
                          data-th-text="${schoolClass.formMaster.user.personalInfo.getName()}"></span>
                </div>
                <div class="col col-2">
                    <span data-th-if="${schoolClass.classRoom != null}"
                          data-th-text="${schoolClass.classRoom.floor + ' ' + schoolClass.classRoom.name}"></span>
                </div>
                <div class="col col-1">
                    <a data-th-href="${x.au().schoolClass(schoolClass)}"
                       data-th-text="${x.c('common.details')}"></a>
                </div>
                <div class="col col-1">
                    <a data-th-href="${x.au().schoolClassSchedule(schoolClass)}"
                       data-th-text="${x.c('class.schedule')}"></a>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>