<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${subject.isNew() ? 'Adding Subject' : 'Editing Subject'}"></title>
</head>
<body>
    <form th:action="@{${x.au().addSubject()}}" method="post">
        <fieldset th:object="${subject}">
            <legend th:text="${subject.isNew() ? 'Add' : 'Edit'}"></legend>
            <p th:if="${!subject.isNew()}">
                <label th:text="Id"></label>
                <span th:text="*{id}"></span>
            </p>
            <label for="name" th:text="Name"></label>
            <input type="text" id="name" th:field="*{name}">
            <label for="gradeId" th:text="Grade"></label>
            <select id="gradeId" th:field="*{gradeId}">
                <option th:each="grade : ${grades}"
                        th:value="${grade.id}" th:text="${grade.name}"></option>
            </select>
        </fieldset>
        <input type="submit" value="Save">
    </form>
</body>
</html>