<!DOCTYPE html>
<html lang="en" data-layout-decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${x.c('course.subjects')}"></title>
</head>
<body>
    <div data-layout-fragment="content">
        <p>
            <a data-th-href="${x.au().addSubject()}" data-th-text="${x.c('course.addSubject')}"></a>
        </p>
        <ul class="list">
            <li class="flex">
                <div class="col col-6" data-th-text="${x.c('common.name')}"></div>
                <div class="col col-6" data-th-text="${x.c('class.grade')}"></div>
            </li>
            <li class="flex" data-th-each="subject : ${subjects}">
                <div class="col col-6" data-th-text="${subject.name.value}"></div>
                <div class="col col-6" data-th-text="${subject.grade.name}"></div>
            </li>
        </ul>
    </div>
</body>
</html>