<!DOCTYPE html>
<html lang="en" data-layout-decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
</head>
<body>
    <div data-layout-fragment="content">
        <p>
            <a data-th-href="@{${x.au().adminIndex()}}">Back to administration home</a>
        </p>
        <ul class="list">
            <li class="flex flex-wrap">
                <div class="col col-2">First name</div>
                <div class="col col-2">Middle name</div>
                <div class="col col-2">Last name</div>
                <div class="col col-4">Skills</div>
                <div class="col col-1">Form-master</div>
                <div class="col col-1">Details</div>
            </li>
            <li class="flex flex-wrap" data-th-each="teacher : ${teachers}">
                <div class="col col-2" data-th-text="${teacher.user.personalInfo.firstName}"></div>
                <div class="col col-2" data-th-text="${teacher.user.personalInfo.middleName}"></div>
                <div class="col col-2" data-th-text="${teacher.user.personalInfo.lastName}"></div>
                <div class="col col-4">
                    <ul class="sequence">
                        <li data-th-each="skill: ${teacher.skills}"
                            data-th-text="|${skill.name.value} ${skill.grade.name}|">
                        </li>
                    </ul>
                </div>
                <div class="col col-1">
                    <span data-th-each="schoolClass: ${teacher.formMasterOf}"
                          data-th-text="${schoolClass.getGrade().name} + ' ' + ${schoolClass.name}"></span>
                </div>
                <div class="col col-1">
                    <a data-th-href="@{${x.au().teacher(teacher)}}">Details</a>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>