<!DOCTYPE html>
<html lang="en" data-layout-decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
</head>
<body>
    <div data-layout-fragment="content">
        <p>
            <a data-th-href="@{${x.au().adminIndex()}}">Back to administration home</a>
        </p>
        <form data-th-action="@{${x.au().addUser()}}" method="post">
            <input type="submit" value="Add user">
        </form>
        <table>
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Middle name</th>
                    <th>Last name</th>
                    <th>Skills</th>
                    <th>Form-master</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="teacher : ${teachers}">
                    <td data-th-text="${teacher.user.personalInfo.firstName}"></td>
                    <td data-th-text="${teacher.user.personalInfo.middleName}"></td>
                    <td data-th-text="${teacher.user.personalInfo.lastName}"></td>
                    <td>
                        <span data-th-each="skill: ${teacher.skills}" data-th-text="${skill.name.value}"></span>
                    </td>
                    <td>
                        <span data-th-each="schoolClass: ${teacher.formMasterOf}"
                              data-th-text="${schoolClass.getGrade().name} + ' ' + ${schoolClass.name}"></span>
                    </td>
                    <td>
                        <a data-th-href="@{${x.au().teacher(teacher)}}">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>