<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${x.c('users')}"></title>
</head>
<body>
    <p>
        <a th:href="@{/admin}">Back to administration home</a>
    </p>
    <a th:href="@{/admin/users/add}" th:text="'Add user'"></a>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <a th:href="@{${x.au().user(user)}}">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>